<div class="container">
    <nav class="navbar navbar-expand-lg navbar-inverse glass-panel" style="margin-bottom: 0;">
        <a class="navbar-brand nav-link" href="/">The Tysan Clan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./roster">Roster</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./history">Stories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./faq">FAQ</a>
                </li>
            </ul>
            <span class="navbar-text" style="color: #ffb347; font-weight: 700;">Keeping the traditions alive</span>
        </div>
    </nav>
    <hr style="border-top: 2px solid #e0e0e0; margin: 0; box-shadow: 0 2px 8px #e0e0e0;">
</div>
